/* section {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
   
} */

section {
    width: 100%;
    border: 1px solid #2d2d2d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

table tr td{
    border: 1px solid;
    padding: 40px;
    font-size: 100px;
}

 